html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #555;
}

p,
li {
  font-size: 16px;
  line-height: 2rem;
}

h1 {
  color: #222;
}

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
ul {
  margin: 2rem 0;
}

ul {
  margin-top: -1rem;
}

/* Navbar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-top: 3rem;
}

.nav-logo {
  font-family: 'Monofett', cursive;
  font-size: 42px;
  position: relative;
  cursor: pointer;
}

nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.nav-links a {
  margin: 0 1rem;
  color: #666;
  font-size: 14px;
}

.nav-links a:hover {
  color: #333;
  text-decoration: none;
}

.nav-link-active {
  color: #333;
}

.nav-title-tag {
  position: absolute;
  top: 7.5rem;
  left: 3px;
  color: #666;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 920px) {
  nav {
    margin: 0rem 0rem 3rem 0rem;
    flex-direction: column;
    z-index: 1;
  }

  .nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-title-tag {
    transform: translateY(-28px);
    position: static;
    display: none;
  }
}

@media screen and (max-width: 616px) {
  nav {
    margin: 3rem 0rem 3rem 0rem;
  }

  .nav-logo {
    font-size: 36px;
  }

  .nav-links {
    transform: translateY(60px);
  }
}

@media screen and (max-width: 375px) {
  .nav-logo {
    font-size: 30px;
  }
}

/* Footer */

footer {
  margin: 6rem 0 0 0;
}

.show-product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 6rem;
}

.show-product-grid img {
  cursor: pointer;
}

@media screen and (max-width: 1075px) {
  .show-product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Show Page */
.show-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.show-title {
  margin: 0 1rem;
}

.show-description {
  margin: 0 1rem;
}

/* Bio Page */

.bio-section {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.bio-section .bio-section-picture {
  margin-left: 3rem;
}

.bio-section .bio-section-text {
  margin-right: 7rem;
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 28vw;
  transform: translateX(-15px);
  font-size: 16px;
  line-height: 2rem;
}

@media screen and (max-width: 1350px) {
  .bio-section .bio-section-picture {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
    margin-right: 3rem;
  }

  .bio-section .bio-section-text {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 50%;
    transform: translateX(-0px);
  }
}

@media screen and (max-width: 980px) {
  .bio-section {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .bio-section .bio-section-picture {
    height: auto;
    min-height: 0px;
  }

  .bio-section .bio-section-text {
    margin: 0.5rem 3rem;
    width: 80%;
  }
}
